.header {
    margin: 0.25rem;
    padding: .5rem .5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft .headerRight {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

a > span {
    margin: 0 30px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

a span:hover {
    color: red;
}

.header_icon {
    width: 80px;
    cursor: pointer;
}

.user_avatar {
    font-size: 2rem;
    cursor: pointer;
}
.MuiSvgIcon-root {
    font-size: 2rem !important;
}

